.content {
  .styledBox {
    flex-grow: 1;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-end;
    gap: 2rem;
  }

  .styledImage {
    border-radius: 10px;
  }

  .styleBox {
    padding: 2rem;

    .title {
      font-size: 20px;
      margin: 38px 0 14px 30px;
    }

    hr {
      margin: 0;
    }

    .form-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      margin-top: 2rem;

      .form-item {
        .form-input,
        .form-textarea {
          width: 100%;
          height: 52px;
          padding: 0 1rem;
          border: 1px solid #ccc;
          border-radius: 4px;
        }

        .form-textarea {
          height: auto;
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }
    }

    .styledButton {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;

      .visually-hidden-input {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }
    }

    .checkbox {
      display: flex;
      justify-content: center;
      margin-top: 38px;

      .checkbox-label {
        display: flex;
        align-items: center;
        .checkbox {
          margin-right: 0.5rem;
        }
      }
    }

    .submit {
      display: flex;
      justify-content: center;
      margin-top: 2rem;

      .submit-button {
        width: 180px;
        height: 50px;
      }
    }
  }

  .grid-item {
    .SBox {
      width: 860px;
      height: 240px;
      margin-left: 94px;
      margin-top: 138px;
      background-color: #1565c0;
      border-radius: 10px;
      color: #ffffff;
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;

      > * {
        margin-right: 24px;
        margin-top: 8px;
      }
    }

    .SlideSwiper {
      color: black;
    }

    .SsBox {
      width: 860px;
      height: 580px;
      padding: 0;
      margin-right: 94px;
      margin-left: 94px;
      margin-top: 244px;
      background-color: #1565c0;
      color: #ffffff;
      font-size: 32px;
      display: flex;
    }
  }

  .grid-items {
    .RBox {
      margin-left: 290px;
      margin-top: 244px;
      margin-bottom: 240px;
      display: flex;
    }
    .reviewImage {
      width: 290px;
      height: 290px;
      margin-left: 640px;
    }
  }
}

.Insta {
  display: flex;
  margin-top: 360px;
  margin-left: 100px;

  .InBox {
    width: 220px;
    height: 220px;
    margin-right: 64px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
